html,
body {
    height: 100vh;
}


#homeTab {
    width: 80%;
    height:80%;
    background-color: aquamarine;

};

#descriptionContainer {
    width: 20%;
    height: 20%;
    background-color: rgb(9, 49, 36);
};

#hoursContainer {
    width: 20%;
    height: 20%;
    background-color: rgb(23, 77, 59);
}

#locationContainer {
    width: 20%;
    height: 20%;
    background-color: rgb(3, 129, 87);
}

